* {box-sizing: border-box;}
img {width: 100%;}
body,
ul {
    margin: 0;
    padding: 0;
}
.container {
    width: 1200px;
    margin: auto;
}
/********* colors *********/
.c-pink {background-color: pink;}
.c-purple {background-color: #e534eb;}

/********** navigation ***********/
.nav {
    width: 100%;
    height: 50px;
    padding: 10px;
    text-align: right;
}
li {list-style-type: none;}
a {
    margin-right: 15px;
    margin-top: 5px;
    height: 30px;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
}
li, a {display: inline-block;}

h1 {text-align: center;}

/********** form ***********/
.form {
    width: 100%;
    margin: auto;
    margin-top: 50px;
}
input[type="submit"] {
    text-transform: uppercase;
}
table {
    width: 100%;
    text-align: center;
    font-family: arial, sans-serif;
}
table.list {
    border-collapse: collapse;
}
table.list td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
}
  
table.list  tr:nth-child(even),
table.listCategory tr:nth-child(even) {
    background-color: #dddddd;
}
table.listCategory {width: 50%;}
.opt {
    text-transform: lowercase;
    font-size: 14px;
    color: blue;
}

/********** footer ***********/
footer {
    margin-top: 50px;
}
