* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
}
ul,
li {
  margin: 0;
  padding: 0;
}
.nav-bar {
  background-color: #005300;
  text-align: center;
}
.nav-bar ul {
  display: inline-flex;
}
.nav-bar ul li {
  width: 180px;
  padding: 10px;
  margin: 0 10px 0 0;
  list-style-type: none;
  position: relative;
}
.nav-bar ul li a {
  text-decoration: none;
  color: #fff;
}
.nav-bar ul li:hover {
  background-color: #cc0;
}
.sub-menu {
  display: none;
  position: absolute;
  left: 0;
  width: 100%;
}
.nav-bar ul li:hover .sub-menu {
  display: block;
  position: absolute;
  background-color: #cc0;
  margin: 10px 0 0 0;
}
.nav-bar ul li:hover .sub-menu ul {
  display: block;
}
.sub-menu-2 {
  display: none;
  position: absolute;
  background-color: #005300;
  top: 0;
  left: 180px;
}
.sub-menu ul li:hover .sub-menu-2 {
  display: block;
  width: 100%;
}
.sub-menu ul li:hover {
  background-color: #005300;
}
.sub-menu-2 ul li:hover {
  background-color: #cc0;
}
