* {
  box-sizing: border-box;
}
body {
  width: 100%;
  margin: 0;
  background-color: #505050;
}
.container {
  width: 1420px;
  margin: auto;
  padding: auto;
}
/********************* HEADER ***/
header {
  width: 100%;
  height: 135px;
  padding: 5px;
  margin: 15px auto;
  background-color: #909090;
  position: relative;
}
header #day42 {
  height: 100%;
}
header .small {
  display: inline-block;
  width: 15px;
}
header #reload {
  position: absolute;
  top: 10px;
  right: 10px;
}
header #close {
  position: absolute;
  bottom: 5px;
  right: 10px;
}
header #loupe {
  width: 230px;
  position: absolute;
  right: 25px;
  bottom: -16px;
}
/********************************/
/*************** SECTION *******/
section {
  width: 100%;
  margin: 0 auto;
  position: relative;
  z-index: 0;
}
.aside-bx {
  display: inline-block;
  vertical-align: top;
  width: 140px;
  height: 425px;
  margin: 0 25px 0 ;
  padding: 1% 0;
  background-color: #909090;
}
.aside-bx .thumb-bx {
  display: block;
  width: 55%;
  margin: 5px auto;
}
#aside-left .thumb-bx:nth-child(3) {
  border: 3px solid red;
  border-radius: 5px;
}
.thumb-bx img {
  display: block;
  width: 100%;
}
#wall {
  display: block;
  width: 95px;
  height: 55px;
  margin: auto;
  background: url(resources/brick.jpg);
  -webkit-background-size: 27%;
  background-size: 27%;
  cursor: pointer;
}
.center-bx {
  display: inline-block;
  width: 1020px;
  height: 580px;
  padding: 1%;
  margin: 0 0.2%;
  background-color: #909090;
  position: relative;
  z-index: 0;
}
.center-bx img {
  width: 100%;
  height: 100%;
}
a.chair {
	display: block;
	width: 170px;
	height: 240px;
	position: absolute;
	bottom: 20px;
	left: 335px;
	z-index: 1;
}
a.screen {
	display: block;
	width: 200px;
	height: 140px;
	position: absolute;
	bottom: 110px;
	right: 40px;
	z-index: 3;
}
.radius-bd {
  border-radius: 10px;
}
.shadow-el {
  box-shadow: 8px 8px 8px #000;
}
/********************************/
/*************** FORM **********/
.form {
  display: block;
  width: 520px;
  height: 170px;
  padding: 10px;
  background-color: #88ff89;
  position: absolute;
  left: -45px;
  bottom: -85px;
  z-index: 1;
}
.form input[type=text] {
	width: 79%;
}
.form input[type=submit] {
	font-size: 20px;
}
.form p {
	margin: 0;
	padding: 0;
	font-size: 18px;
	font-family: sans-serif;
}
.ft-italic {
	font-style: italic;
}
.bigger {
	font-size: 34px;
	font-family: serif;
}
.red-shadow {
	text-shadow: 5px 3px 3px #FF0000;
}
