* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  font-family: Verdana, Geneva, sans-serif;
  background: url(https://image.freepik.com/free-vector/hand-drawn-chemistry-background-blackboard_23-2148162417.jpg);
}
.container {
  width: 1350px;
  margin: auto;
  padding: 20px;
  position: relative;
}
.container h1 {
  font-size: 32px;
  color: #fff;
  text-align: center;
}
.container .legend {
  text-align: center;
}
.container .elem-box {
  width: 75px;
  height: 75px;
  padding: 5px;
  border: 1px solid #000;
  position: relative;
}
.elem-box .atomic-nb,
.elem-box .atomic-wgh {
  font-size: 10px;
  padding: 5px;
  position: absolute;
}
.atomic-wgh {
  top: 3px;
  right: 3px;
}
.atomic-nb {
  left: 3px;
  bottom: 3px;
}
.elem {
  width: 100%;
  display: inline-block;
  margin: auto;
  font-size: 22px;
  font-weight: bold;
  text-align: center;
}

/***************** COLORS *****************/
.c-dark-blue {
  background-color: #2f5eff;
}
.c-light-blue {
  background-color: #4ccefb;
}
.c-purple {
  background-color: #b40bdf;
}
.c-pink {
  background-color: #fb7eff;
}
.c-dark-pink {
  background-color: #ff33c7;
}
.c-light-pink {
  background-color: #feaaff;
}
.c-red {
  background-color: #ff2a3d;
}
.c-orange {
  background-color: #ff851b;
}
.c-yellow {
  background-color: #ffed16;
}
.c-green {
  background-color: #0eaf43;
}
/***************** SMALL TABLE *****************/
table#small-table {
  margin: 0 auto;
  margin-top: 20px;
}

/***************** ARRAY LEGEND *****************/
table#legend {
  margin: 0 auto;
  margin-top: 20px;
}
#legend td {
  display: inline-block;
  width: 120px;
  padding: 3px;
  text-align: center;
  font-size: 10px;
}
@media screen and (max-width: 1500px) {
	* {
	  -webkit-box-sizing: border-box;
	  box-sizing: border-box;
	}
	body {
	  font-family: Verdana, Geneva, sans-serif;
	  background: url(https://image.freepik.com/free-vector/hand-drawn-chemistry-background-blackboard_23-2148162417.jpg);
	}
	table {
		width: 100%;
		height: 100%;
	}
	.container {
	  width: 100%;
	  margin: auto;
	  padding: 20px;
	  position: relative;
	}
	.container h1 {
	  font-size: 32px;
	  color: #fff;
	  text-align: center;
	}
	.container .legend {
	  text-align: center;
	}
	.container .elem-box {
	  height: 80px;
	  padding: 5px;
	  border: 1px solid #000;
	  position: relative;
	}
	.elem-box .atomic-nb,
	.elem-box .atomic-wgh {
	  font-size: 1vw;
	  padding: 5px;
	  position: absolute;
	}
	.atomic-wgh {
	  top: 3px;
	  right: 3px;
	}
	.atomic-nb {
	  left: 3px;
	  bottom: 3px;
	}
	.elem {
	  width: 100%;
	  height: 100%;
	  display: inline-block;
	  margin: auto;
	  font-size: 1vw;
	  font-weight: bold;
	  text-align: center;
	  position: absolute;
	  top: 30px;
	}

	/***************** COLORS *****************/
	.c-dark-blue {
	  background-color: #2f5eff;
	}
	.c-light-blue {
	  background-color: #4ccefb;
	}
	.c-purple {
	  background-color: #b40bdf;
	}
	.c-pink {
	  background-color: #fb7eff;
	}
	.c-dark-pink {
	  background-color: #ff33c7;
	}
	.c-light-pink {
	  background-color: #feaaff;
	}
	.c-red {
	  background-color: #ff2a3d;
	}
	.c-orange {
	  background-color: #ff851b;
	}
	.c-yellow {
	  background-color: #ffed16;
	}
	.c-green {
	  background-color: #0eaf43;
	}
	/***************** SMALL TABLE *****************/
	table#small-table {
	  margin: 0 auto;
	  margin-top: 20px;
	}

	/***************** ARRAY LEGEND *****************/
	table#legend {
	  margin: 0 auto;
	  margin-top: 20px;
	}
	#legend td {
	  display: inline-block;
	  width: 100%;
	  padding: 3px;
	  text-align: center;
	  font-size: 10px;
	}
}
